.container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 285px;
	width: 80%;
	margin: 0 auto;
  }
.header1 {
	width: 100%;
	display: grid;
	grid-template-columns: 7% 20% 15% 15% 15% 20% 4% 4%;
	color: white;
	grid-template-rows: 2vw;
	margin: 2vw auto 1vw auto;
	align-items: center;
	background-color: rgb(199, 199, 199);
}

.header1__button1 {
	justify-self: center;
	border: none;
	outline: none;
	background-color: transparent;
	color: #ffffff;
}
.header1__button1 i {
font-size: 1.5vw;
}

.header1__button2 {
justify-self: center;
border: none;
outline: none;
background-color: transparent;
color: #ffffff;
}
.header1__button2 i {
font-size: 1.5vw;
}